body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  #card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }
  
  .card {
    width: 300px;
    background-color: #f1f1f1;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .card:hover {
    background-color: #ddd;
  }
  
  .card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .card h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
  }
  
  .card p {
    margin: 10px 0;
  }