/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* Core CSS */
* {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

*::before,
*::after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    background-color: #0f0f0f;
    color: #dddddd;
    font-family: "Courier New", Courier, monospace;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 1.3;
}

a,
a:visited {
    color: #11cc11;
    text-decoration: none;
}

a:active,
a:hover {
    color: #00ff00;
    text-decoration: none;
}

h3 {
    font-size: 20px;
    margin-top: 30px;
}

p {
    line-height: 1.6;
}

ul>li {
    list-style-type: square;
}

ol {
    list-style-position: inside;
    padding: 0;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* Header (NavBar) */

.header {
    position: fixed;
    top: 0;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #1a1a1a;
}

.header-title {
    margin: 0;
    font-size: 24px;
}

.header-list {
    list-style: none;
    margin: 10px 0 0;
    padding: 0;
}

.header-shadow {
    text-shadow: 5px 5px #555;
    text-align: center;
}

.header-list-item {
    display: inline;
    margin: 0 10px;
    text-shadow: 4px 4px #444;
    text-align: center;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* Page Content (Standard Webpage 16:9) */

.content {
    max-width: 50%;
    min-width: 400px;
    margin: 8em auto 1em auto;
    padding: 0 1em;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* Footer */

.footer {
    padding: 20px;
    background-color: #1a1a1a;
    font-size: 14px;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* Hamburger Button */

.hamburger {
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
    padding: 10px;
    z-index: 9999;
  }
  
  .hamburger span {
    display: block;
    width: 30px;
    height: 4px;
    background-color: #333;
    margin-bottom: 5px;
    transition: transform 0.3s ease-in-out;
  }
  
  .hamburger.active span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }
  
  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.active span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* Hide/Show Header/Hamburger button based on width */

@media only screen and (min-width: 600px) {
    .header {
        display: none;
    }
    .hamburger {
        display: inline-block;
    }
}
@media only screen and (min-width: 768px) {
    .header {
        display: flex;
    }
    .hamburger {
        display: none;
    }
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* Hamburger Overlay Menu */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    z-index: 9997;
  }
  
  .overlay.active {
    display: flex;
    justify-content: center;
    align-items: center;
  }

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*  */

.overlay-header {
    position: fixed;
    top: 0;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #1a1a1a;
}

.overlay-header-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay-header-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    padding: 1em;
}

.overlay-header-list-item:last-child {
    margin-bottom: 0;
}

.overlay-header-list-item:hover {
    background-color: #696969;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*  */

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*  */